/*databutton//数据统计按钮*/

.data_menu{
  left: 750px;
  margin-right: 20px;
}
.userMan_menu{
  left: 750px;
}
.info_menu{
  left: 1200px;
}
.my_menu{
  left: 1500px;
}
.my_info_div{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 20px;
}

/*数据统计面板*/
.imgChange_button_div{
  width: 300px;
}
.el-menu-vertical-demo{
  box-shadow: 0 0 5px #1f1717;
}
.data_img_div{
  margin: 20px auto;
  width: 1500px;
  height: 800px;
  border-radius: 8px;
  box-shadow: 0 0 5px #1f1717;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}


/*对话框*/
.mapSetting_div{
  position: absolute;
  top: 0;
  left: 25%;
  width: 300px;
  height: 500px;
  border: 2px #409EFF;
}

.mapStyle_div_el_dialog{
  left: 25%;
  width: 43%;
}

/*日期*/
.date_div{
  position: relative;
  left: 30%;
}
/*elemnet-ui*/
.el-submenu .el-menu-item{
  min-width: 150px;
}
