#main_userMessages{
  height: 100%;
  width: 100%;
  left: 0px;
  position: absolute;
}
.category_div{
  position: absolute;
  margin-left: 400px;
  width: 140px;
  height: 866px;
  border: solid 5px #99a9bf;
  float: left;
}
.top_select_style{
  line-height: 80px;
  text-align: center;
  width: 140px;
  height: 80px;
  background: #99a9bf;
}
.menu_button{
  padding: 10px 10px 10px 10px;
  width: 140px;
}
.menu_button i{
  margin-left: 10px;
  width: 20px;

}
.menu_button span{
  width: 80px;
}
.content_div{
  position: relative;
  float: left;
  left: 555px;
  width: 60%;
  height: 100%;
}

