#main{
  margin-left: 120px;
  height: 800px;
}
.category_div{
  margin-left: 400px;
  width: 140px;
  height: 866px;
  border: solid 5px #99a9bf;
  float: left;
}
.top_select_style{
  line-height: 80px;
  text-align: center;
  width: 140px;
  height: 80px;
  background: #99a9bf;
}
.menu_button{
  padding: 10px 10px 10px 10px;
  width: 140px;
}
.menu_button i{
  margin-left: 10px;
  width: 20px;

}
.menu_button span{
  width: 80px;
}
.content_div{
  float: left;
}

