#main_myMessage{
  position: relative;
  left: 0;
  width: 960px;
  height: 874px;
  float: left;
}
.top_div{
  width: 800px;
  height: 34px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(121 146 185);
}
.top_div span{
  line-height: 33px;
  margin-left: 10px;
}
.left_div{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 182px;
  height: 810px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(121 146 185);
}
.title_span{
  margin-left: 10px;
}
.right_div{
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 64%;
  height: 810px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(121 146 185);
  position: relative;
}
.myMessage_div{
  width: 71%;
  flex-direction: row;
  padding: 19px 24px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#myMessages{
  overflow: auto;
  width:183px;
  height: 793px;
  scrollBar-face-color: green;
}
/*滚动条整体*/
#myMessages::-webkit-scrollbar {

  width: 12px;
  background-color: #eee;

}
/*滚动轨道*/
#myMessages::-webkit-scrollbar-track {

  background-color: white;
}
/*滑块*/
#myMessages::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 20px;
  background: #728480;
}
#right_title_div{
  float: left;
}
#right_title_div :nth-child(2) span{
  font-size: 10px;
}
