.data_menu{
  left: 750px;
  margin-right: 20px;
}
.userMan_menu{
   left: 750px;
}
.info_menu{
  left: 1200px;
}
.my_menu{
  left: 1500px;
}
.my_info_div{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 20px;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.left_navigation_div{
  position: relative;
  float: left;
  top: 10px;
  box-shadow: 0 2px 4px 0 rgb(121 146 185);
  padding: 5px;
}
.deliver_ann{
  position: relative;
  margin: auto;
  top: 20px;
  width: 500px;
  height: 600px;


}
.deliver_title{
  align-content: center;
}

.message_content{
  position: relative;
  margin-top: 30px;
  box-shadow: 0 2px 4px 0 rgb(121 146 185);
  padding: 10px;
  background-color: rgb(244,245,247) ;

}
